<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>服务目录</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/page_frame.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

{#    <script>#}
{#    function prov() {#}
{##}
{#            window.top.location = "/data/server_list/";#}
{##}
{#    }#}
{#    </script>#}

</head>
<body style="">
<div class="page_title">
    <div class="page_title_data">贵州省块数据指挥调度中心——数据上架平台</div>
</div>
<div class="content_title">数据上架平台</div>
<div class="content">
    <div class="content_shadow">
        <div class="header">
            <span id="one" style="color:#6d89d1;border-bottom: 1px solid #6d89d1;">名称</span>
            <span id="two">类型</span>
            <span id="three">层级名称</span>
        </div>
        <div class="footer">
            <iframe src="/data/name_type/" frameborder="0"></iframe>
        </div>
    </div>
</div>
<div style="width:200px;margin:20px auto;overflow: hidden">
    <input class="btn btn-info" id="prov" type="button"  style="float: left; margin-left:30px;" size="40" value="上一步">
    <input class="btn btn-info" id="next" type="button"  style="float: left; margin-left:30px;" size="40" value="下一步">
</div>
</body>
</html>