*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/*整体框架样式*/
body{
    background: #f7f8fa;
}
.header{
    width:100%;
    height:auto;
    text-align:center;
    overflow: hidden;
}
.content span{
    display:inline-block;
    padding:10px 0;
    width:30%;
    font-size: 16px;
}
.page_title{
    width: 100%;
    height: 60px;
    padding-left: 50px;
    line-height: 60px;
    background:#4381e6;
    font-size: 24px;
    color: #ffffff;
}

.content_title{
    width: 100%;
    height: 50px;
    padding-left: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #1f1f21;
}
.content{
    width: 95%;
    height: 600px;
    margin: 0 auto;
    background: #f9fafc;
    border-radius: 10px;
    box-shadow:0 0 3px 3px #ebe6e6;
}   