<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>服务目录</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/page_frame.css' %}">
    <style type="text/css"></style>
    <script type="text/javascript"></script>
</head>
<body style="">
    <div class="page_title"><div class="page_title_data">数据上架_datalink</div></div>
    <div class="content_title">服务目录列表</div>
    <div class="content">
        <div class="content_shadow">
            <div class="content_shadow">
                <div class="content_shadow">

                </div>
            </div>
        </div>
    </div>
</body>
</html>