<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户管理</title>
    {% load static %}
    <!--有网络-->
    <!--<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">-->
    <!--无网络-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/control_list.css'%}">


    <script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/layer/layer/layer.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/paging.js' %}"></script>
    <script type="text/javascript">
        /**显示用户**/
        $(function () {
            //设置分总页数和要显示的页码数量
            paging(110,5);
            function getData() {
                $.ajax("php/control/select.php", {
                    dataType: "json",
                    success: function (r) {
                        var str = "";
                        /*
                        $.each(r, function (index, val) {
                            str += `
                                <div class="row">
                                    <div class="col-xs-1 col-md-1">
                                        <input type="checkbox" name="item" id="server_name_id" value=""/>
                                    </div>
                                    <div class="col-xs-1 col-md-1" id="id">${val.id}</div>
                                    <div class="col-xs-2 col-md-2" id="name">${val.name}</div>
                                    <div class="col-xs-2 col-md-2" id="consumer_id">${val.consumer_id}</div>
                                    <div class="col-xs-2 col-md-2" id="day">${val.day}</div>
                                    <div class="col-xs-2 col-md-2" id="serviceName">${val.serviceName}</div>
                                    <div class="col-xs-2 col-md-2">
                                        <input type="button" name="" class="data_del" value="删除" id="del_tr"/>
                                    </div>
                                </div>
                            `;
                        });*/
                        $(".body").html(str);
                        //10条数据都选中 全选标题的input的checked=true
                        var allLength = $(".data_title .body").find(":input[name='item']").length; //所有的checkbox的长度
                        console.log(allLength);
                        $(".data_title .body .row").each(function () {
                            $(this).bind('click', function () {
                                var selectedLength = $(this).find("input[name='item']:checked").length; //所有的选中的checkbox的长度
                                if (selectedLength == allLength) {
                                    $('#checkAll').prop("checked", true); //全选按钮
                                } else {
                                    $('#checkAll').prop("checked", false);
                                }
                                console.log(selectedLength);
                            })
                        })
                    }
                })
            }

            getData();
            /**  删除功能  **/
            /* 全选 */
            $(".data_title .head").on('click', ":input[type='checkbox']", function () {
                var status = $(this).prop('checked');
                var oItems = document.getElementsByName('item');
                for (var i = 0; i < oItems.length; i++) {
                    oItems[i].checked = status;
                }
                if (status == true) {
                    $(".body").find(".row").addClass("active");
                } else {
                    $(".body").find(".row").removeClass("active");
                }
            });
            //1.2. 删除用户
            /*  单行删除 */
            $(".body").on("click", "#del_tr", function (event) {
                $(this).parents().find(":input[type='checkbox']").prop("checked", false);
                $(this).parents().find(".row").removeClass("active");
                $(this).parents(".row").find("#server_name_id").prop("checked", true);
                $(this).parents(".row").addClass("active");
                if (this.id == 'del_tr') {
                    if (confirm('确定要删除这个字段吗？')) {
                        var consumer_id = $(this).parents(".row").find("#consumer_id").text();
                        console.log(consumer_id);
                        var serviceName = $(this).parents(".row").find("#serviceName").text();
                        console.log(serviceName);
                        var params = {
                            "req_config": "del_control",
                            "consumer_id": consumer_id,
                            "serviceName": serviceName
                        };
                        $.post('/admin_operation/', params, function (data) {
                            if (data == 1) {
                                alert("删除成功");
                                location.reload();
                                {#getData();#}
                            } else {
                               alert("删除失败")
                            }
                        });
                    } else {
                        alert('删除失败')
                    }
                }

            });
            /* 批量删除 */
            $(".data_bottom").on('click', "#del_user", function () {
                var boxes = document.getElementsByName("item");
                var arr = [];
                var params = "";
                if (confirm("确定要删除这个字段吗？")) {
                    for (var i = 0; i < boxes.length; i++) {
                        if (boxes[i].checked == true) {
                            arr.push($(boxes[i]).parents(".row").find("#serviceName").text() + "'+'" + $(boxes[i]).parents(".row").find("#consumer_id").text());
                        }
                    }
                    console.log(arr);
                    params = {'arr': arr};
                    $.post('php/control/del_control.php', params, function (data) {
                        if (data == 1) {
                            alert('删除成功');
                            getData();
                        } else {
                            alert('删除失败')
                        }
                    })
                } else {
                    alert('删除失败')
                }
            });

            /* 弹出框 添加用户*/
            $(".row").on("click", "[type='button']", function (event) {
                if ($(this).attr('id') == "add_data") {
                    layerFn();
                    $("#add_name").val("");
                    $("#add_consumer_id").val("");
                    $("#add_day").val("");
                    $("#add_serviceName").val("");
                }
            });
            function layerFn() {
                layer.open({
                    area: ['500px', '350px'],
                    title: "添加流控",
                    content: $('#list_layer'),
                    type: 1,
                    btn: ["保存", "取消"],
                    yes: function (index) {
                        var name = $("#add_name").val();
                        console.log(name);
                        var consumer_id = $("#add_consumer_id").val();
                        console.log(consumer_id);
                        var day = $("#add_day").val();
                        console.log(day);
                        var serviceName = $("#add_serviceName").val();
                        console.log(serviceName);
                        var params = {
                            "req_config": "add_control",
                            "name": name,
                            "consumer_id": consumer_id,
                            "day": day,
                            "serviceName": serviceName,
                        };
                        $.post('/admin_operation/', params, function (data) {
                            if (data == 1) {
                                alert("添加成功");
                                location.reload();
                                getData();
                            } else {
                                alert("添加失败")
                            }
                        });
                        layer.close(index);
                    },
                    btn2: function (index) {
                        layer.close(index);
                    }
                });
            }

            /*选中状态*/
            $(".data_title .body").on('click', ":input[type='checkbox']", function () {
                var checkbox = $(this).prop('checked');
                if (checkbox == true) {
                    $(this).parents(".row").addClass("active");
                } else {
                    $(this).parents(".row").removeClass("active");
                }
            })
        })
    </script>
</head>

<body>
<div class="content">
    <div class="data_title">
        <div class="head">
            <div class="row">
                <div class="col-xs-1 col-md-1">
                    <input type="checkbox" id="checkAll"/>
                </div>
                <div class="col-xs-1 col-md-1">序号</div>
                <div class="col-xs-2 col-md-2">名称</div>
                <div class="col-xs-2 col-md-2">用户ID</div>
                <div class="col-xs-2 col-md-2">访问量</div>
                <div class="col-xs-2 col-md-2">db接口</div>
                <div class="col-xs-2 col-md-2">操作</div>
            </div>
        </div>
        <div class="body">
            {% for  control in control %}
            <div class="row break">
                <div class="col-xs-1 col-md-1">
                    <input type="checkbox" name="item" id="server_name_id" value=""/>
                </div>
                <div class="col-xs-1 col-md-1" id="id">{{ forloop.counter }}</div>
                <div class="col-xs-2 col-md-2" id="name">{{ control.name }}</div>
                <div class="col-xs-2 col-md-2" id="consumer_id">{{ control.consumer_id }}</div>
                <div class="col-xs-2 col-md-2" id="day">{{ control.day }}</div>
                <div class="col-xs-2 col-md-2" id="serviceName">{{ control.serviceName }}</div>
                <div class="col-xs-2 col-md-2">
                    <input type="button" name="" class="data_del" value="删除" id="del_tr"/>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container-fluid">
        <div class="row data_bottom">
        <div class="button_data col-xs-2 col-sm-2">
            <ul class="pagination">
{#                <li>#}
{#                    <div class="btn btn-danger" id="del_user">#}
{#                        <img src="{% static 'images/del.png' %}" id="del_img" alt="">批量删除#}
{#                    </div>#}
{#                </li>#}
                <li>
                    <div id="add_data" class="btn btn-success" type="button">
                        <img src="{% static 'images/add.png' %}" id="add_img" alt="">添加
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-10 col-md-10 padlr">
            <div class="padlr_right" align="right">
                <ul class="pagination pagin">
                    <li>
                        <button id="shouye" disabled="disabled">首页</button>
                    </li>
                    <li id="shangyiye">
                        <a href="#">
                            <span>&laquo;</span>
                            上一页
                        </a>
                    </li>
                    <li id="xiayiye">
                        <a href="#">下一页
                            <span>&raquo;</span>
                        </a>
                    </li>
                    <li>
                        <button id="weiye">尾页</button>
                    </li>
                    <li class="sum_data" id="allpage"></li>
                    <li>到
                        <input type="text" class="jump" value="" id="tiaozhuannum">页
                    </li>
                    <li>
                        <button id="jump">确定</button>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    </div>
</div>
<!--layer  添加-->
<div class="list_layer" id="list_layer" style="display: none;">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="add_name"
                   class="col-xs-2 col-md-2 col-xs-offset-2 col-md-offset-2 control-label">用户名</label>
            <div class="col-xs-6 col-md-6">
                <input type="text" class="form-control" id="add_name">
{#                <select name="add_name" id="add_name" class="form-control">#}
{#                    <option value="1">1</option>#}
{#                    <option value="2">2</option>#}
{#                    <option value="3">3</option>#}
{#                </select>#}
            </div>
        </div>
        <div class="form-group">
            <label for="add_consumer_id"
                   class="col-xs-2 col-md-2 col-xs-offset-2 col-md-offset-2 control-label">用户ID</label>
            <div class="col-xs-6 col-md-6">
                <input type="text" class="form-control" id="add_consumer_id">
{#                <select name="add_consumer_id" id="add_consumer_id" class="form-control">#}
{#                    <option value="1">1</option>#}
{#                    <option value="2">2</option>#}
{#                    <option value="3">3</option>#}
{#                </select>#}
            </div>
        </div>
        <div class="form-group">
            <label for="add_day"
                   class="col-xs-2 col-md-2 col-xs-offset-2 col-md-offset-2 control-label">访问量</label>
            <div class="col-xs-6 col-md-6">
                <input type="text" class="form-control" id="add_day">
{#                <select name="add_day" id="add_day" class="form-control">#}
{#                    <option value="1">1</option>#}
{#                    <option value="2">2</option>#}
{#                    <option value="3">3</option>#}
{#                </select>#}
            </div>
        </div>
        <div class="form-group">
            <label for="add_serviceName"
                   class="col-xs-2 col-md-2 col-xs-offset-2 col-md-offset-2 control-label">db接口</label>
            <div class="col-xs-6 col-md-6">
                <input type="text" class="form-control" id="add_serviceName">
{#                <select name="add_serviceName" id="add_serviceName" class="form-control">#}
{#                    <option value="1">1</option>#}
{#                    <option value="2">2</option>#}
{#                    <option value="3">3</option>#}
{#                </select>#}
            </div>
        </div>
    </form>
</div>
<!--layer end-->
</body>
<script>

</script>
</html>