<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/departAdmin_db_list.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/layer/layer/layer.js' %}"></script>
    <script src="{% static 'js/admin_db_list.js' %}"></script>
    <style>
        .oneLevel ul li:nth-child(2){
            width: 68%;
        }
        .oneLevel ul li:nth-child(3){
            width: 20%;
        }
    </style>
    <script>
        var route_add = "/add_meta/";
        var route_delete = "/delete_meta/";
        var metatype = "file";
        var metashow = "/meta_list/";
        var add_params = '/add_params/';
        var update_name = '/meta_update/';
        var update_params = '/params_update/';
        var del_meta = '/del_meta/';
        var del_params = '/del_params/';
    </script>
</head>

<body>
    <div class="wrapper">
        <div class="head_title">文件源录入</div>
        <div class="wrapper_content">
            <div class="oneLevel condiv">
                <div class="Level_div">
                    <h3>名称</h3>
                    <ul>
                        <li>序号</li>
                        <li>文件名称</li>
                        {# <li>表名(英文)</li>#}
                        <li>操作</li>
                    </ul>
                    <div class="Level_content tablename">
                        {% for tbName in file_name%}
                        <ul id="content_ul">
                            <li class="num_table">{{ forloop.counter }}</li>
                            <li class="table_ch" title="{{ tbName}}">{{ tbName}}</li>
                            {# <li class="table_en">{{ tbName.us_tablename }}</li>#}
                            <li>
                                <a title="修改" class="glyphicon glyphicon-pencil" id="update"></a>
                                <a title="删除" class="glyphicon glyphicon-trash" id="delete"></a>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="Level_add">
                    <input type="button" value="添加" class='Level_addbtn'>
                </div>
            </div>
            <div class="TwoLevel condiv">
                <div class="Level_div">
                    <h3>参数</h3>
                    <ul>
                        <li>序号</li>
                        <li>参数名称</li>
                        <li>参数描述</li>
                        <li>参数类型</li>
                        <li>操作</li>
                    </ul>
                    <div class="Level_content" id="field">
                    </div>
                </div>
                <div class="Level_add">
                    <input type="button" style="background-color: #ccc;cursor: not-allowed" value="添加" class='Level_addbtn'
                        disabled="disabled">
                </div>
            </div>
        </div>

    </div>
    <div class="list_layer" id="list_layer" style="display: none;">
        <form class="form-horizontal">
            <div class="form-group" style="margin: 64px 0px;">
                <label for="table_ch" class="col-xs-2 col-md-2 col-xs-offset-2 col-md-offset-2 control-label">文件名称</label>
                <div class="col-xs-6 col-md-6">
                    <input type="text" class="form-control" id="table_ch">
                </div>
            </div>
            {# <div class="form-group">#}
                {# <label for="table_en" class="col-xs-2 col-md-2 col-xs-offset-2 col-md-offset-2 control-label">表名(英文)</label>#}
                {# <div class="col-xs-6 col-md-6">#}
                    {# <input type="text" class="form-control" id="table_en">#}
                    {# </div>#}
                {# </div>#}
        </form>
    </div>

    <div class="add_field" id="list_layer" style="display: none;">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="field_name" class="col-xs-2 col-md-2 col-xs-offset-2 col-md-offset-2 control-label">参数名称</label>
                <div class="col-xs-6 col-md-6">
                    <input type="text" class="form-control" id="field_name">
                </div>
            </div>
            <div class="form-group">
                <label for="field_desc" class="col-xs-2 col-md-2 col-xs-offset-2 col-md-offset-2 control-label">参数描述</label>
                <div class="col-xs-6 col-md-6">
                    <input type="text" class="form-control" id="field_desc">
                </div>
            </div>
            <div class="form-group">
                <label for="field_type" class="col-xs-2 col-md-2 col-xs-offset-2 col-md-offset-2 control-label">参数类型</label>
                <div class="col-xs-6 col-md-6">
                    <input type="text" class="form-control" id="field_type">
                </div>
            </div>
        </form>
    </div>
</body>

</html>